* {
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Ocultar en Firefox */
    font-family: monospace;
    font-weight: bold;
    transition: 0.5s all;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    align-items: center;
    background-color: #f0f8ff; /* Fondo claro */
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.Img {
    width: 10%; /* Ancho completo */
    display: flex;
    justify-content: center; /* Centra el logo */
    margin: 20px;
}

.Img img {
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover;
}

.Formulario {
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Formulario input {
    width: 80%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    border: 1px solid #003399; /* Azul oscuro */
}

.Formulario input:focus {
    outline: none;
}

.Formulario button {
    width: 20%;
    height: 40px;
    border: 1px white solid;
    border-radius: 0px 10px 10px 0px;
    background-color: #023085; /* Azul más oscuro */
    color: #fbff02; /* Amarillo */
    font-weight: bold;
    transition: 0.5s all;
}

.Formulario button:hover {
    transition: 0.5s all;
    border: none;
    background-color: #234b99; /* Azul oscuro */
}

.lista-item {
    transition: all 0.5s;
    max-width: 900px;
    width: 80%;
    height: auto;
    margin-top: 50px;
    background: #ffffff; /* Blanco */
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 20px 16px rgba(94, 94, 94, 0.301);
}

.faq-titulo {
    cursor: pointer;
    padding: 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #003399; /* Azul oscuro */
}

.faq-titulos {
    padding: 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #003399; /* Azul oscuro */
}

.Formulario ul {
    margin-top: 5px;
}

ul li:first-child .faq-titulos {
    color: #003399; /* Azul oscuro */
    border-bottom: 1px solid #003399; /* Azul oscuro */
}

.faq-titulo::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 24px;
    margin-right: 10px;
    background: #fbff00; /* Amarillo */
}

.faq-titulo::after {
    content: '+';
    float: right;
    transition: transform .3s ease;
}

.faq-conteudo {
    padding: 10px;
    color: #6B7C93;
    font-family: Helvetica;
    font-size: .875em;
    line-height: 2em;
    height: auto;
    overflow-y: scroll;
    transition: max-height 0.6s ease;
    scroll-behavior: smooth;
}

.trigger-input {
    display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo {
    max-height: 100px;
}

.trigger-input:checked + .trigger-wrapper .faq-titulo::after {
    transform: rotate(45deg) scale(1.08);
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #003399; /* Azul oscuro */
    color: #fbff00; /* Amarillo */
    position: relative;
    box-shadow: 0 0px 16px rgba(94, 94, 94, 0.301);
    font-size: 1.4em;
    font-family: monospace;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .faq-titulo {
        font-size: 1.2em;
    }
    .faq-titulos {
        font-size: 1em;
    }

    main {
        padding: 10px;
        height: 100vh;
    }

    footer {
        font-size: 0.8em;
    }
}
