*{
    margin: 0;
    padding: 0;
    scrollbar-width: none; /* Ocultar en Firefox */
    font-family: monospace;
    font-weight: bold;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.Img {
    width: 10%; /* Ancho completo */
    display: flex;
    justify-content: center; /* Centra el logo */
    margin: 20px;
}

.Img img {
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover;
}
.Formulario{
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-around;

}

.Formulario input{
    width: 80%;
    padding-left: 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
}

.Formulario input:focus{
    border-radius: 10px 0px 0px 10px;
    outline: none; 
}

.Formulario button{
    width: 20%;
    border-radius: 0px 10px 10px 0px;
}


.lista-item {
    transition: all 0.5s;
    max-width: 900px;
    width: 100%; /* Cambiado para ser responsivo */
    height: auto;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 20px 16px rgba(94, 94, 94, 0.301);
}

.faq-titulo {
    cursor: pointer;
    padding: 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #000000;
}
.faq-titulos {
    padding: 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #000000;
}

.Formulario ul{
    margin-top: 5px;
}

ul li:first-child .faq-titulos {
    color: rgb(25, 0, 255); /* Cambia el color al que desees */
    border-bottom: 1px solid black;
}

.faq-titulo::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 24px;
    margin-right: 10px;
    background: #fbff00;
}

.faq-titulo::after {
    content: '+';
    float: right;
    transition: transform .3s ease;
}

.faq-conteudo {
    padding: 10px;
    color: #6B7C93;
    font-family: Helvetica;
    font-size: .875em;
    line-height: 2em;
    height: auto;
    overflow-y: scroll; /* Ocultar el contenido que exceda */
    transition: max-height 0.6s ease; /* Animación de altura */
    scroll-behavior: smooth;
}

.trigger-input {
    display: none; /* Ocultar el checkbox */
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo {
    max-height: 100px; /* Ajusta este valor según el contenido */
}

.trigger-input:checked + .trigger-wrapper .faq-titulo::after {
    transform: rotate(45deg) scale(1.08);
}

footer {
    width: 100%; /* Ancho completo */
    text-align: center; /* Centra el texto */
    padding: 10px 0;
    background-color: #ffffff; /* Fondo gris claro */
    position: relative; /* Asegura que el pie de página se mantenga en la parte inferior */
    box-shadow: 0 0px 16px rgba(94, 94, 94, 0.301);

    padding: 10px;
    font-size: 1.4em;
    font-family: monospace;
    color: #000000;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .faq-titulo {
        font-size: 1.2em; /* Ajustar el tamaño de fuente */
    }
    .faq-titulos {
        font-size: 1em; /* Ajustar el tamaño de fuente */
    }

    main {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
        height: 90vh;
    }

    footer {
        font-size: 0.8em; /* Tamaño de fuente más pequeño en dispositivos móviles */
    }

}
